---
import BaseLayout from '$/layouts/BaseLayout.astro';
import Header from '$/components/Header.astro';

import allData from '$/resources/data.json';
const crewData = allData["crew"];

let selectedCrewMember = crewData[0];

function mainImageAlt(crewMember) {
  return `${crewMember.role} ${crewMember.name}`
}

function isSelected(name) {
  return name === selectedCrewMember.name ? "true" : false;
}

function isNotSelected(name) {
  return name !== selectedCrewMember.name ? "true" : false;
}

---

<BaseLayout title="Space Tourism | Crew" page="crew">

<Header />

<main id="main" class="grid-container grid-container--crew">
  <h1 class="numbered-title"><span aria-hidden="true">02</span>Meet your crew</h1>
  <div class="crew-photo-wrapper border-bottom">
  {crewData.map(crew => {
    return <picture class="crew-photo" id={`${crew.id}-image`} hidden={isNotSelected(crew.name)}>
      <source srcset={crew.images.webp} type="image/webp" alt={mainImageAlt(crew)}>
      <img width="100%" src={crew.images.png} alt={mainImageAlt(crew)}>
    </picture>
  })}

  </div>
  <div class="dot-indicators flex" role="tablist" aria-label="crew list">
    {crewData.map((crew, index) => {
      return <button aria-controls={`${crew.id}-panel`} aria-selected={isSelected(crew.name)} role="tab" tabindex={isSelected(crew.name) ? "0" : "-1"}>
      <span class="sr-only">{`Slide ${index + 1}`}</span>
      </button>;
    })}
  </div>
  {crewData.map(crew => {
  return <article class="crew-details flow" id={`${crew.id}-panel`} data-image={`${crew.id}-image`} hidden={isNotSelected(crew.name)} role="tabpanel" tabindex={isSelected(crew.name) ? "0" : "-1"}>
    <h2 class="fs-500 ff-serif uppercase"><span class="fs-300">{crew["role"]}</span>{crew["name"]}</h2>
    <p class="text-light">{crew["bio"]}</p>
  </article>})}
</main>

</BaseLayout>