---
import BaseLayout from '$/layouts/BaseLayout.astro';
import Header from '$/components/Header.astro';

import allData from '$/resources/data.json';
const destinationData = allData["destinations"];

const destinationNames = destinationData.map(dest => dest.name);
const defaultDestination = destinationData[0];

function isSelected(name) {
  return name === defaultDestination.name ? "true" : false;
}

function mainImageAlt(destination) {
  switch (destination.name) {
    case "Moon":
      return `the ${destination.name}`;
    case "Europa":
    case "Titan":
      return `the moon ${destination.name}`;
    default:
      return `the planet ${destination.name}`;
  }

}

function isNotSelected(name) {
  return name === defaultDestination.name ? false : true;
}

---

<BaseLayout title="Space Tourism | Destination" page="destination">

<Header />

<main id="main" class="flow grid-container grid-container--destination">
  <h1 class="numbered-title"><span aria-hidden="true">01</span>Pick your destination</h1>
  {destinationData.map(destination => {
   return <picture class="destination-photo" data-destination={destination.name} hidden={isNotSelected(destination.name)}>
      <source srcset={destination.images.webp} type="image/webp" alt={mainImageAlt(destination)}>
      <img width="100%" src={destination.images.png} alt={mainImageAlt(destination)}>
    </picture>
  })}


  <div class="tabs underline-indicators flex uppercase fs-300 ff-sans-cond letter-spacing-2 text-light" role="tablist" aria-label="destination list">
  {destinationNames.map(name => {
    return <button aria-selected={isSelected(name)} role="tab" aria-controls={`${name}-tab`} tabindex={isSelected(name) ? "0" : "-1"} class="bg-transparent">{name}</button>;
  })}
  </div>

  {destinationData.map(destination => {
  return <article id={`${destination.name}-tab`} tabindex={isSelected(destination.name) ? "0" : "-1"} data-destination={destination.name} hidden={isNotSelected(destination.name)}>
    <h2 class="fs-800 ff-serif uppercase">{destination.name}</h2>
    <p class="text-light">{destination.description}</p>
    <div class="destination-meta flex">
      <p class="uppercase text-light fs-200 ff-sans-cond letter-spacing-3 grid" style="--gap: 0.3rem">Avg. distance <em class="fs-500 ff-serif text-white" style="font-style: normal;">{destination.distance}</em></p>
      <p class="uppercase text-light fs-200 ff-sans-cond letter-spacing-3 grid" style="--gap: 0.3rem">Est. travel time <em class="fs-500 ff-serif text-white" style="font-style: normal;">{destination.travel}</em></p>
    </div>
  </article>
  })}

</main>

</BaseLayout>